<h1>Authorization</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="logInInputEmail">
						Log-in
					</label>
                    <input type="string" class="form-control" id="logInInputEmail" [(ngModel)]="logInCredentials.username" name="logInCredentials.username" />
                </div>
                <div class="form-group">
                    <label for="logInInputPassword">
						Password
					</label>
                    <input type="password" class="form-control" id="logInInputPassword" [(ngModel)]="logInCredentials.password" name="logInCredentials.username" />
                </div>
                <button type="submit" class="btn btn-default" (click)="login()" >
					Login
				</button>
            </form>
        </div>
         <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="registerEmail">
						Log-in
					</label>
                    <input type="string" class="form-control" id="registerEmail" [(ngModel)]="registrationCredentials.username" name="registrationCredentials.username" />
                </div>
                <div class="form-group">
                    <label for="registerPassword">
						Password
					</label>
                    <input type="password" class="form-control" id="registerPassword" [(ngModel)]="registrationCredentials.password" name="registrationCredentials.username" />
                </div>
                <button type="submit" class="btn btn-default" (click)="register()" >
					Register
				</button>
            </form>
        </div>
    </div>
</div>