<div>
    <ul>
        <li>
            <a [routerLink]="['/accounts']">accounts</a>
        </li>
        <li>
            <a [routerLink]="['/categories']">categories</a>
        </li>
    </ul>
</div>