<h1>Categories</h1>
<Tree [nodes]="categories" [options]="treeOptions" (onMoveNode)="nodeMoved($event)">
    <template #treeNodeTemplate let-node>
        <input [(ngModel)]="node.data.name" type="text">
        <input [(colorPicker)]="node.data.color" [style.background]="node.data.color" [value]="node.data.color" />
        <button class="btn btn-default" (click)="saveCategory(node.data)">Save</button>
    </template>
</Tree>

<button class="btn btn-default" (click)="createCategory()">Add new category</button>