<h1>Accounts</h1>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    <tr *ngFor="let account of accounts">
        <td><a [routerLink]="['/accounts',account.id]">{{account.name}}</a></td>
    </tr>
</table>
<button (click)="createNewAccount()" type="button" class="btn btn-default">Create new</button>