<div class="panel panel-primary">
    <div class="panel-heading">
        Account detail
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="accountName" class="col-sm-1 control-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]="account.name" id="accountName" name="accountName" />
                </div>
            </div>

            <div class="col-sm-6">
                <button (click)="remove()" type="button" class="btn btn-danger">Remove</button>
            </div>

            <div class="col-sm-6">
                <button type="submit" type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>
<transactions *ngIf="!isDraft" [accountId]="account.id"></transactions>