<div class="row">
    <div class="input-group">
        <label for="accountName">Name</label>
        <input type="text" class="form-control" [(ngModel)]="account.name" id="accountName" />
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default" (click)="create(account)">Save</button>
</div>