<h1>New Acount</h1>
<div class="row">
    <div class="form-group">
        <label for="accountType">Account type</label>
        <select class="form-control" id="accountType" [(ngModel)]="accountType">
            <option value="custom">Custom</option>
            <option value="fio">Fio</option>
        </select>
    </div>
</div>

<fio-account *ngIf="accountType == 'fio'"></fio-account>
<custom-account *ngIf="accountType == 'custom'"></custom-account>