<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/dashboard']">MyWallet</a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/accounts']">Accounts</a></li>
                <li><a [routerLink]="['/transactions']">Transactions</a></li>
                <li><a [routerLink]="['/categories']">Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Sign-out</a></li>
            </ul>
        </div>
    </div>
</nav>