<div class="panel panel-primary">
	<div class="panel-heading">
		Transactions
	</div>
	<div class="panel-body">
		<div class="form">
			<div class="form-group">
				<div class="col-12">
					<button (click)="create()" type="button" class="btn btn-default">New transaction</button>
				</div>
			</div>
		
			<div class="col-12">
				<table class="table">
					<tr>
						<th>Id</th>
						<th>Amount</th>
						<th></th>
					</tr>
					<tr *ngFor="let transaction of transactions">
						<td>
							<a [routerLink]="['/accounts', transaction.accountId, 'transactions', transaction.id]">
					{{transaction.id}}
					</a>
						</td>
						<td>{{transaction.amount}}</td>
						<td>
							<button (click)="remove(transaction)" type="button" class="btn btn-danger">Remove</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>