<div class="panel panel-primary">
    <div class="panel-heading">
        Transaction detail
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="transactionAmount" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="transaction.amount" id="transactionAmount" />
                </div>
            </div>
            <div class="form-group">
                <label for="transactionCategory" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-4">
                    <select id="transactionCategory" class="form-control" [(ngModel)]="transaction.categoryId">
                    <option *ngFor="let c of categories" [value]="c.id" >{{c.name}}</option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button (click)="save()" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>